<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections Puzzle Home</title>
    <link rel="stylesheet", type="text/css" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Connections Puzzle</h1>
        <p>Create your own puzzle and challenge your friends!</p>
        <a href="/create"><button>Create a Puzzle</button></a>
    </div>
</body>
</html>